@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}
body {
	background: #f6f5f7;
}
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
.page-header {
	text-align: right;
	margin-right: 20px;
}
.button-action {
    text-align: center;
}